@media screen and (min-width: 1200px) {
  .position-lg-static {
    position: static !important;
  }
  .test {
    position: static !important;
  }
}

@media screen and (max-width: 1199px) {
  .head {
    position: relative;
  }
  .slider-menu {
    left: 0px !important;
  }
  .slider-menu-hidden {
    position: absolute;
    left: -1000px;
    height: 100vh;
    width: 85vw;
    text-align: center;
    display: flex !important;
    background-color: var(--bg-slider);
    z-index: 1;
    transition: 1s linear;
  }
  .slider-container {
    height: 50vh;
    width: 80vw;
    flex-flow: column;
  }

  .fa-bars,
  .fa-close {
    z-index: 99;
  }

  .slider-menu nav ul li a {
    color: var(--bg-body) !important;
    transition: 0.2s;
  }
  .slider-menu nav ul li a:hover {
    color: var(--bg-body) !important;
    font-weight: bold;
  }
}
.slider-container li a::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0.001);
  border-bottom: var(--bg-body) 1px solid;
  font-weight: bolder;
  transition: 1s;
}
.slider-container li a:hover::after {
  transform: scale(1);
}

.nav-link {
  font: normal 1rem;
  width: 100px;
  padding: 0 !important;
  transition: 0.2s;
}
.nav-link:hover {
  font-weight: bold;
}

.download-resume-btn {
  border-radius: 30px;
  background-color: var(--bg-primary);
  transition: 0.5s;
}
.download-resume-btn:hover {
  font-weight: bold;
  background-color: var(--bg-primary);
}
